.photo-grid {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  width: 92.5vw;
  margin: 92px auto;
  list-style: none;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .photo-grid {
    grid-gap: 14px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    width: 90.625vw;
    margin: 92px auto;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .photo-grid {
    grid-gap: 16px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    width: 90vw;
    margin: 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-gap: 12px;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    width: 90vw;
    margin: 64px auto;
  }
}
