.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7.1875% auto 7.4219%;
  width: 76.875%;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin: 88px auto 58px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    margin: 50px 0 64px;
  }
}
