.place__button {
  grid-area: button;
  width: 54%;
}

@media screen and (max-width: 1279px) {
  .place__button {
    width: 73%;
  }
}

@media screen and (max-width: 767px) {
  .place__button {
    width: 90%;
    margin: auto;
    /* align-items: center; */
  }
}
