.footer__link {
  margin-right: 18px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer__link:hover {
  opacity: .8;
}

.footer__link:last-of-type {
  margin-right: calc(92.5vw - 376px);
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .footer__link:last-of-type {
    margin-right: calc(90.625vw - 376px);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footer__link:last-of-type {
    margin-right: calc(93.75vw - 376px);
  }
}
