.place__paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  width: 35.625vw;
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
  margin-bottom: 25px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
  line-height: 1.44;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .place__paragraph {
    width: 44.53vw;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:last-of-type {
    line-height: 1.625;
  }
}
