.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  width: 76.875%;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (max-width: 763px) {
  .intro {
    width: 90%;
  }
}
