.cover {
  width: 92.5vw;
  height: 57.82vw;
  margin: 92px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-image: url(../../images/__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100vw;
    height: 62.5vw;
  }
}
