.cover__background {
  width: 100%;
  height: 57.82vw;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 1279px)  {
  .cover__background {
    width: 100vw;
    height: 62.5vw;
  }
}

