.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  font-weight: 400;
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 14.22vw;
  height: 1.75vh;
  align-self: flex-start;
  margin-top: 8px;
}
