.cover__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 72px;
  line-height: 1.056;
  font-weight: 900;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #FFFDFD;
  text-decoration: none;
  background: none;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: calc(1em +3px);
  }
}
