.place {
  width: 100%;
  display: grid;
  grid-gap: 47px 40px;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: max-content max-content auto;
  grid-template-areas:
  'title author'
  'image text'
  'button text';
  margin: 80px 0 0;
}

.place:last-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-gap: 48px 28px;
    grid-template-columns: 1fr 1.03fr;
    margin: 60px 0 0;
  }
  .place:nth-of-type(1) {
    margin: 77px 0 0;
  }
}


@media screen and (max-width: 767px) {
  .place {
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    'title'
    'author'
    'image'
    'text'
    'button';
    margin: 47px 0 0;
  }
}
