.footer {
  width: 92.5vw;
  padding: 92px 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .footer {
    width: 90.625vw;
    margin: 0 auto;
    padding: 92px auto 24px 48px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footer {
    width: 93.75vw;
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer {
    flex-direction: column;
    width: 51.6vw;
    text-align: left;
    padding: 64px auto 24px 16px;
    margin: 0;
    align-items: flex-start;
  }
}
