.footer {
  padding: 92px 43.594% 24px 43.515%;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .footer {
    padding: 90px 302px 23px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer {
    padding: 64px 0 24px 77px;
    margin: 0;
  }
}
