.place__website {
  width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 48px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place__website {
    width: 40vw;
    max-width: 456px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 90vw;
    margin: 0 auto 12px;
  }
}
