.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 2;
  grid-row: 1;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .place__website {
    width: 90vw;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 2;
  }
}


