.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: author;
}

@media screen and (max-width: 1279px) {
  .place__website {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 90vw;
    margin: 0 auto;
  }
}


