.blue-button_place_cover {
  margin-top: 33px;
  margin-right: 8px;
  z-index: 5;
}

@media screen and (max-width: 1279px) {
  .blue-button_place_cover {
    margin-right: 12px;
  }
}

@media screen and (max-width: 767px) {
  .blue-button_place_cover {
    margin-top: 19px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 6px;
  }
}
