.intro__title {
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 785px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: left;
}

@media screen and (max-width: 1279px) {
  .intro__title {
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    width: 100%;
    font-size: 32px;
    line-height: 1.09;
  }
}
